<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file encryption</title>
    <link rel="shortcut icon" href="#">
</head>
<body>

<div>
    <input type="file" id="file_id">
    <button onclick="wyslij()">wyślij</button>
</div>
<div id="ul_id"></div>
</body>
<script>

    async function wyslij() {
        var inputWithFile = document.getElementById("file_id");
        var file = inputWithFile.files[0];
        if (!file) {
            alert("proszę wybrać plik");
            return;
        }
        var formularz = new FormData();
        formularz.append('file', file);
        await fetch("/send_file", {method: 'POST', body: formularz});
    }

    async function get_all() {
        const list = await (await fetch(`/get_all_file`)).json();
        const div = document.getElementById("ul_id");
        const ul = document.createElement("ul");
        div.appendChild(ul);

        list.forEach(v => {
            const li = document.createElement("li");
            li.innerHTML = `<a href='/get_file/${v.id}' download>${v.name}</a>`;
            ul.appendChild(li);
        });
    }

    get_all();
</script>
</html>