<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file encryption</title>
    <link rel="shortcut icon" href="#">
</head>
<body>

<div>
    <input type="file" id="file_id">
    <button onclick="wyslij()">wyślij</button>
</div>
<div id="ul_id"></div>
</body>
<script>

    async function wyslij() {
        var inputWithFile = document.getElementById("file_id");
        var file = inputWithFile.files[0];
        if (!file) {
            alert("proszę wybrać plik");
            return;
        }
        var formularz = new FormData();
        formularz.append('file', file);
        var response = await fetch("/send_file", {method: 'POST', body: formularz});

        // var reader = new FileReader();
        // var fileByteArray = [];
        // reader.readAsArrayBuffer(file);
        // reader.onloadend = function (evt) {
        //     if (evt.target.readyState === FileReader.DONE) {
        //        var arrayBuffer = evt.target.result,
        //            array = new Uint8Array(arrayBuffer);
        //        for (var i = 0; i < array.length; i++) {
        //            fileByteArray.push(array[i]);
        //         }
        //     }
        // }

        // var odszyfrowany_plik= new FormData();
        // odszyfrowany_plik.append('file', file);
    }


    async function get_all() {
        const list = await (await fetch('/get_all_file')).json();
        const div = document.getElementById("ul_id");
        const ul = document.createElement("ul");
        div.appendChild(ul);

        list.forEach(v => {
            const li = document.createElement("li");
            li.innerHTML = `<a href='/get_file/${v.name}' download>${v.name}</a>`;
            // li.onclick = () => get_file(v.id);
            ul.appendChild(li);
        });
    }




    get_all();


</script>
</html>